.loginContainer {
    width: 100%;
    max-width: 1000px;
    padding: 30px 30px 50px 30px;
    background-color: white;
    margin-top: 200px;
    min-height: 500px;
    max-height: 1000px;

    -webkit-box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
}

.lines-container {

    width: 80%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin: auto;
}

.line {
    width: 40%;
    /* height: 1px; */
    border-top: 1px solid black;
}

.circle {
    width: 15px;
    height: 15px;/* 
	@@ -31,10 +38,19 @@ */
}