@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@1&family=Roboto+Flex:opsz,wght@8..144,700&display=swap');

* {
    font-family: 'Roboto Flex', sans-serif;
}

body {
    background-image: url("../assets/imagen2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100px;
    display: flex;
}

.registrationContainer{
    padding: 30px 30px 50px 30px;
    margin-top: 200px;
    width: 70%;
}

.buttonHover:hover {
    background-color: rgba(163,204,204,255);
    color: black;
}

.custom-opacity-bg {
    background-color: rgba(255, 255, 255, 0.25); 
    color: black; 
}
.custom-opacity-bg:focus {
    background-color: rgba(255, 255, 255, 0.25)
}
.inputLabelEmail{
    background-color: transparent;
    color: red;
}

/* Media Query para pantallas más pequeñas que 500px */
@media (max-width: 440px) {
    html {
        background-size: cover; /* Ajusta la imagen de fondo para cubrir toda la pantalla */
    }
}