.fav_locations_container {
 
    height: 250px;
    display: flex;
    flex-direction: column;


    overflow: hidden;
    
  
}
 .fav_locations {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
 
    margin-top: 10px; 
    width: 80%;
   
   
    
    
   
} 

 .favLocations_item {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 180px;
    width: 140px;
    padding: 10px;
    
    background-color: rgba(255,255,255,0.2);
    border-radius: 10px;
} 
.favLocations_item > img {
    width: 80px;
}
.corazon_container {
    position: absolute;
    bottom: 12px;
    right: 12px;
    
    cursor: pointer;
    width: 50px;
    
    
    
}
.heart_buttons {
    border: none;
    background: none;
    width: 25px;
    

}

/* .actualizar_btn {
   border: none;
   background: none;
   color: #04f; 
}
.actualizar_btn:hover {
border: 2px solid gainsboro;
border-radius: 10px;
color: black;

} */