 @media (min-width: 280px) { 
    .forecast_container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 90%;
        min-width: 250px;
        height: 300px;
        margin-left: auto;
        border-radius: 10px;
        position: relative;
        background-color: rgba(255,255,255,0.2);
    }
    .icon_forecast {
        width: 100px;
        position: absolute;
        top: -30px;
        right: 0px;
    }
    .titleName {
        font-size: medium;
    }
    .searchDiv {
        margin-top: 50px;
    }
    .forecastCards{
        margin: 10px;
    }
    .forecastContainer {
        background-color: rgba(255, 255, 255, 0);
        border: none;
        padding: 0px;
    }
    .collapseForecast{
        width: 87%;
    }
    .lineHome {
        width: 30%;
        /* height: 1px; */
        border-top: 2px solid black;
        margin: 20px auto;
    }
    .days_container {
        width: 30%;
        display: flex;
        justify-content: space-around;
        margin: auto; 
    }
    .active_days{
        background-color:rgba(100,100,100,0.6);
        border-radius: 30px;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 140px;
        height: 48px;
        cursor: pointer;
        font-weight: 200;
    }
    .disable_days {
        background-color: rgba(255,255,255,0.2);
        border-radius: 30px;
        color: black;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 140px;
        height: 48px;
        cursor: pointer;
        font-weight: 200;
    }
    .hoursCards_container {
        display: flex;
        margin: auto;
        overflow: hidden;
        gap: 10px;
        width: 75%;  
    }
    .hoursCard_item { 
        background-color: rgba(255,255,255,0.2);
        padding: 15px;
        border-radius: 10px;
        height: 150px; 
    }
    .section_map_other {
     
        flex-direction: column;
      } 
      /* Aca ME quede */
    .other_info_container {
         display: flex;
        flex-wrap: wrap;
        width: 95%;
        gap: 10px;
        padding: 8px;
        border-radius: 10px; 
        /* width: 400px;
        flex-direction: row;
        justify-content: center;
        margin-top: 20px; */
    }

    .other_info_item {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-radius: 8px;
        width: 150px;
        height: 120px;
        background-color: rgba(255,255,255,0.2);
    }
    .other_info_item > img {
        width: 40px;  
    }
    .days_arrows_container {
        position: relative;
        height: 70px;
        display: flex;
        align-items: center;
        padding-top: 10px;
    }
    .arrows_container {
        position: absolute;
        right: 15%;
        width: 10vw;
        display: flex;
        justify-content: space-between;
        z-index: 200;
    }
    .arrows {
        background: none;
        border: none;
    }
    .arrows > img{
        width: 20px;
    }


      
    .section_map_other {
     
        flex-direction: column;
      }
      .other_info_container {
         
          width: 340px;
          flex-direction: row;
          justify-content: center;
          margin-top: 20px;
        
        
      }
      .other_info_item {
        
          width: 140px;
          height: 140px;
          gap: 0px;
      }
      .other_info_item > img {
          width: 70px;
      }
      .map {
        
        margin-top: 20px;
          width: 300px;
          height: 300px;
          margin-left: 20px;
      }

 }

 @media (min-width: 400px) {
    .forecast_container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 350px;
        /* min-width: 350px; */
        /* margin-left: auto; */
        border-radius: 10px;
    
        background-color: rgba(255,255,255,0.2);
      
        position: relative;
        width: 350px;
        margin: auto;
    }
    .icon_forecast {
        width: 120px;
        position: absolute;
        top: -50px;
        right: -20px;
       
    }
    .titleName {
        font-size: larger;
    }
    .collapseForecast{
        width: 90%;
    }

    .section_map_other {
     
        flex-direction: column;
       
        width: 95%;
        margin: auto;
      }
      .other_info_container {
         
          /* width: 400px; */
          width: 80%;
          flex-direction: row;
          justify-content: center;
        
         margin: auto;
        
      }
      .other_info_item {
        
          width: 130px;
          height: 140px;
          gap: 0px;
      }
      .other_info_item > img {
          width: 70px;
      }
      .map {
         
          width: 340px;
      }
    
 }

 @media (min-width: 576px) {
    .forecast_container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 350px;
        min-width: 200px;
        max-width: 300px;
        margin: auto;
        border-radius: 10px;
        position: relative;
        background-color: rgba(255,255,255,0.2);
    }
    .icon_forecast {
        width: 200px;
        position: absolute;
        top: -70px;
        right: -40px;
    }
    .searchDiv {
        margin-top: 0px;
    }
    .collapseForecast{
        width: 90%;
    }
    .section_map_other {
     
        flex-direction: column;

      }
      .other_info_container {
         
           /* width: 50%;
          flex-direction: row;
          justify-content: center; */
        
          width: 80%;
         
       
        
      }
      .other_info_item {
        
          width: 110px;
          height: 140px;
          gap: 0px;
      }
      .other_info_item > img {
          width: 70px;
      }
      .map {
         
          width: 380px;
      }



    
 }

@media (min-width: 768px) {
    .forecast_container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 350px;
        min-width: 400px;
        max-width: 500px;
        margin: auto;
        border-radius: 10px;
        position: relative;
        background-color: rgba(255,255,255,0.2);
    }
    .icon_forecast {
        width: 200px;
        position: absolute;
        top: -60px;
        right: -70px;
    }
    
    .titleName {
        font-size: 45px;
    }
    
    .collapseForecast{
        width: 95%;
    }

    .section_map_other {
     
        flex-direction: column;
      }
      .other_info_container {
         
          width: 50%;
          flex-direction: row;
          justify-content: center;
       
        
      }
      .other_info_item {
        
          width: 120px;
          height: 140px;
          gap: 0px;
      }
      .other_info_item > img {
          width: 70px;
      }
      .map {
         
          width: 400px;
      }

 }

@media (min-width: 992px) {
    .forecast_container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 350px;
        min-width: 500px;
        max-width: 600px;
        margin: auto;
        border-radius: 10px;
        position: relative;
        background-color: rgba(255,255,255,0.2);
       
    }
    .icon_forecast {
        width: 200px;
        position: absolute;
        top: -90px;
        right: -80px;
       
    }
    
    .collapseForecast{
        width: 100%;
       
    }
    .section_map_other {
        margin-bottom: 20px;
       
        width: 80%;
        margin: auto;
       
       
       
    }
    .other_info_container {
       
        width: 50%;
     
      
    }
    .other_info_item {
      
        width: 140px;
        height: 130px;
        gap: 0px;
       
    }
    .other_info_item > img {
        width: 70px;
        
    }

    .map {
       
        width: 400px;

    }
 }

@media (min-width: 1500px) { 
    .forecast_container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 40%;
        height: 300px;
        margin: auto;
        border-radius: 10px;
        position: relative;
        background-color: rgba(255,255,255,0.2);
    }
    .icon_forecast {
        width: 200px;
        position: absolute;
        top: -95px;
        right: -80px;
    }
    
    .collapseForecast{
        width: 100%;
    }
    .section_map_other {
        margin: auto;
        width: 75%;
        display: flex;
        flex-direction: row;
        margin-left: 16%;  
      
    }


    .other_info_container {
       
        display: flex;
        flex-wrap: wrap;
         justify-content: end; 
        width: 80%;
        gap: 10px;
        padding: 8px;
        border-radius: 10px;
     
       margin-left: 15%;
       margin-top: 30px;
       
       
        
    }

    .other_info_item {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-radius: 8px;
        width: 150px;
        height: 120px;
        background-color: rgba(255,255,255,0.2);
    }
    .other_info_item > img {
        width: 40px;  
    } 
    .map {
        height: 400px;
        width: 500px;
       border-radius: 10px;
       padding: 5px;
        margin-left: 20px;
        
    }
} 