.forecast_container {
   
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 45%;
    height: 250px;
    margin: auto;
    border-radius: 10px;
    position: relative;
    background-color: rgba(255,255,255,0.2);
    
}

.icon_forecast {
    width: 120px;
    position: absolute;
    top: -50px;
    right: -30px;
}




.days_container {
    
    width: 30%;
    display: flex;
    justify-content: space-around;
    margin: auto;
    
    
}
.active_days{
    
    background-color:rgba(100,100,100,0.6);
    border-radius: 30px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 140px;
    height: 48px;
    cursor: pointer;
    font-weight: 200;

}

.disable_days {
    background-color: rgba(255,255,255,0.2);
    border-radius: 30px;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 140px;
    height: 48px;
    cursor: pointer;
    font-weight: 200;
}
.hoursCards_container {
    display: flex;
    margin: auto;
    overflow: hidden;
    gap: 10px;
    width: 75%;
    
    
   
   
    
    
}
.hoursCard_item {
    
    background-color: rgba(255,255,255,0.2);
    padding: 15px;
    border-radius: 10px;
    height: 150px;
    
       
    
    
}

.other_info_container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    
    gap: 10px;
    padding: 8px;
    border-radius: 10px;
    /* position: relative; */
        
}

.other_info_item {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
border-radius: 8px;
width: 150px;
height: 120px;


background-color: rgba(255,255,255,0.2);
}

.other_info_item > img {
    width: 40px;


    
}
.days_arrows_container {
    position: relative;
    height: 70px;
    display: flex;
    align-items: center;
    padding-top: 10px;
    
}

.arrows_container {
position: absolute;


right: 15%;
width: 10vw;
display: flex;
justify-content: space-between;
z-index: 200;
}

.arrows {
    background: none;
    border: none;
    /* width: 30px;
    height: 30px;
    border-radius: 50%; */
    
}

.arrows > img{
   
    width: 20px;
    
    
    
}



